body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(71, 113, 211);
    color: #fae9d4;
}

body p{
    font-size: 18px;
    font-weight: bold;
}

#counter{
    margin: 30px;
}

#counter button{
    border: 5px solid rgb(225, 233, 241);
    border-radius: 55%;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

#item{
    text-align: center;
}

